.l-row {
  display: flex;
  flex-wrap: wrap;
  margin: -7.5px;

  &::after {
    /*
    display: table;
    clear: both;
    content: "";
    */
  }

  & > .l-col {
    box-sizing: border-box;
    padding: 7.5px;

    @define-mixin col-options $responsive {
      &$(responsive)self-center {
        align-self: center;
      }

      &$(responsive)self-start {
        align-self: flex-start;
      }

      &$(responsive)self-end {
        align-self: flex-end;
      }
      &$(responsive)variable {
        flex: 1 1 auto;
      }
      &$(responsive)flex-1 {
        flex: 1 1 0%;
      }
    }
    @mixin col-options ._;
    @media (--sp) {
      /* prettier-ignore */
      @mixin col-options .s\:_;
    }
    @media (--tbpc) {
      /* prettier-ignore */
      @mixin col-options .m\:_;
    }
    @media (--pc) {
      /* prettier-ignore */
      @mixin col-options .l\:_;
    }
    /*@media (--large) {
      @mixin col-options .xl\:_;
    }*/
  }

  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
ul.l-row {
  list-style: none;
}

.l-row {
  @define-mixin row-options $responsive {
    &$(responsive)singleline {
      flex-wrap: nowrap;
    }

    &$(responsive)v-center {
      align-items: center;
    }

    &$(responsive)v-start {
      align-items: flex-start;
    }

    &$(responsive)v-end {
      align-items: flex-end;
    }

    &$(responsive)row-reverse {
      flex-direction: row-reverse;
    }

    &$(responsive)column-reverse {
      flex-direction: column-reverse;
    }

    &$(responsive)equally {
      & > .l-col {
        flex: 1 1 0%;
        float: none;
      }
    }

    &$(responsive)justify-start {
      justify-content: flex-start;
    }
    &$(responsive)justify-end {
      justify-content: flex-end;
    }
    &$(responsive)justify-center {
      justify-content: center;
    }

    &$(responsive)s-between {
      justify-content: space-between;
    }

    &$(responsive)s-around {
      justify-content: space-around;
    }

    &$(responsive)v-border {
      & > .l-col + .l-col {
        border-left: 1px solid var(--color-border);
      }
    }
    &$(responsive)h-border {
      & > .l-col + .l-col {
        border-top: 1px solid var(--color-border);
      }
    }

    &$(responsive)gap-50 {
      margin: -50px;

      & > .l-col {
        padding: 50px;
      }
    }
    &$(responsive)gap-x50 {
      margin-right: -50px;
      margin-left: -50px;

      & > .l-col {
        padding-right: 50px;
        padding-left: 50px;
      }
    }
    &$(responsive)gap-y50 {
      margin-top: -50px;
      margin-bottom: -50px;

      & > .l-col {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
    &$(responsive)gap-40 {
      margin: -40px;

      & > .l-col {
        padding: 40px;
      }
    }
    &$(responsive)gap-x40 {
      margin-right: -40px;
      margin-left: -40px;

      & > .l-col {
        padding-right: 40px;
        padding-left: 40px;
      }
    }
    &$(responsive)gap-y40 {
      margin-top: -40px;
      margin-bottom: -40px;

      & > .l-col {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    &$(responsive)gap-30 {
      margin: -30px;

      & > .l-col {
        padding: 30px;
      }
    }
    &$(responsive)gap-x30 {
      margin-right: -30px;
      margin-left: -30px;

      & > .l-col {
        padding-right: 30px;
        padding-left: 30px;
      }
    }
    &$(responsive)gap-y30 {
      margin-top: -30px;
      margin-bottom: -30px;

      & > .l-col {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
    &$(responsive)gap-25 {
      margin: -25px;

      & > .l-col {
        padding: 25px;
      }
    }
    &$(responsive)gap-x25 {
      margin-right: -25px;
      margin-left: -25px;

      & > .l-col {
        padding-right: 25px;
        padding-left: 25px;
      }
    }
    &$(responsive)gap-y25 {
      margin-top: -25px;
      margin-bottom: -25px;

      & > .l-col {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
    &$(responsive)gap-20 {
      margin: -20px;

      & > .l-col {
        padding: 20px;
      }
    }
    &$(responsive)gap-x20 {
      margin-right: -20px;
      margin-left: -20px;

      & > .l-col {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    &$(responsive)gap-y20 {
      margin-top: -20px;
      margin-bottom: -20px;

      & > .l-col {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    &$(responsive)gap-15 {
      margin: -15px;
      & > .l-col {
        padding: 15px;
      }
    }
    &$(responsive)gap-x15 {
      margin-right: -15px;
      margin-left: -15px;

      & > .l-col {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    &$(responsive)gap-y15 {
      margin-top: -15px;
      margin-bottom: -15px;

      & > .l-col {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    &$(responsive)gap-10 {
      margin: -10px;
      & > .l-col {
        padding: 10px;
      }
    }
    &$(responsive)gap-x10 {
      margin-right: -10px;
      margin-left: -10px;

      & > .l-col {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    &$(responsive)gap-y10 {
      margin-top: -10px;
      margin-bottom: -10px;

      & > .l-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    &$(responsive)gap-5 {
      margin: -05px;

      & > .l-col {
        padding: 05px;
      }
    }
    &$(responsive)gap-x5 {
      margin-right: -05px;
      margin-left: -05px;

      & > .l-col {
        padding-right: 05px;
        padding-left: 05px;
      }
    }
    &$(responsive)gap-y5 {
      margin-top: -05px;
      margin-bottom: -05px;

      & > .l-col {
        padding-top: 05px;
        padding-bottom: 05px;
      }
    }

    &$(responsive)gap-1 {
      margin: -1px;

      & > .l-col {
        padding: 1px;
      }
    }
    &$(responsive)gap-x1 {
      margin-right: -1px;
      margin-left: -1px;

      & > .l-col {
        padding-right: 1px;
        padding-left: 1px;
      }
    }
    &$(responsive)gap-y1 {
      margin-top: -1px;
      margin-bottom: -1px;

      & > .l-col {
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }

    &$(responsive)gap-05 {
      margin: -0.5px;

      & > .l-col {
        padding: 0.5px;
      }
    }
    &$(responsive)gap-x05 {
      margin-right: -0.5px;
      margin-left: -0.5px;

      & > .l-col {
        padding-right: 0.5px;
        padding-left: 0.5px;
      }
    }
    &$(responsive)gap-y05 {
      margin-top: -0.5px;
      margin-bottom: -0.5px;

      & > .l-col {
        padding-top: 0.5px;
        padding-bottom: 0.5px;
      }
    }
    &$(responsive)gap-0 {
      margin: 0;

      & > .l-col {
        padding: 0;
      }
    }
    &$(responsive)gap-x0 {
      margin-right: 0;
      margin-left: 0;

      & > .l-col {
        padding-right: 0;
        padding-left: 0;
      }
    }
    &$(responsive)gap-y0 {
      margin-top: 0;
      margin-bottom: 0;

      & > .l-col {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @mixin row-options ._;
  @media (--sp) {
    /* prettier-ignore */
    @mixin row-options .s\:_;
  }
  @media (--tbpc) {
    /* prettier-ignore */
    @mixin row-options .m\:_;
  }
  @media (--pc) {
    /* prettier-ignore */
    @mixin row-options .l\:_;
  }
  /*@media (--large) {
    @mixin row-options .xl\:_;
  }*/
}

.l-row {
  & > .l-col {
    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    &._s1 {
      width: 8.3333333333%;
    }

    &._s2 {
      width: 16.6666666667%;
    }

    &._s3 {
      width: 25%;
    }

    &._s4 {
      width: 33.3333333333%;
    }

    &._s5 {
      width: 41.6666666667%;
    }

    &._s6 {
      width: 50%;
    }

    &._s7 {
      width: 58.3333333333%;
    }

    &._s8 {
      width: 66.6666666667%;
    }

    &._s9 {
      width: 75%;
    }

    &._s10 {
      width: 83.3333333333%;
    }

    &._s11 {
      width: 91.6666666667%;
    }

    &._s12 {
      width: 100%;
    }

    &._offset-s1 {
      margin-left: 8.3333333333%;
    }

    &._pull-s1 {
      right: 8.3333333333%;
    }

    &._push-s1 {
      left: 8.3333333333%;
    }

    &._offset-s2 {
      margin-left: 16.6666666667%;
    }

    &._pull-s2 {
      right: 16.6666666667%;
    }

    &._push-s2 {
      left: 16.6666666667%;
    }

    &._offset-s3 {
      margin-left: 25%;
    }

    &._pull-s3 {
      right: 25%;
    }

    &._push-s3 {
      left: 25%;
    }

    &._offset-s4 {
      margin-left: 33.3333333333%;
    }

    &._pull-s4 {
      right: 33.3333333333%;
    }

    &._push-s4 {
      left: 33.3333333333%;
    }

    &._offset-s5 {
      margin-left: 41.6666666667%;
    }

    &._pull-s5 {
      right: 41.6666666667%;
    }

    &._push-s5 {
      left: 41.6666666667%;
    }

    &._offset-s6 {
      margin-left: 50%;
    }

    &._pull-s6 {
      right: 50%;
    }

    &._push-s6 {
      left: 50%;
    }

    &._offset-s7 {
      margin-left: 58.3333333333%;
    }

    &._pull-s7 {
      right: 58.3333333333%;
    }

    &._push-s7 {
      left: 58.3333333333%;
    }

    &._offset-s8 {
      margin-left: 66.6666666667%;
    }

    &._pull-s8 {
      right: 66.6666666667%;
    }

    &._push-s8 {
      left: 66.6666666667%;
    }

    &._offset-s9 {
      margin-left: 75%;
    }

    &._pull-s9 {
      right: 75%;
    }

    &._push-s9 {
      left: 75%;
    }

    &._offset-s10 {
      margin-left: 83.3333333333%;
    }

    &._pull-s10 {
      right: 83.3333333333%;
    }

    &._push-s10 {
      left: 83.3333333333%;
    }

    &._offset-s11 {
      margin-left: 91.6666666667%;
    }

    &._pull-s11 {
      right: 91.6666666667%;
    }

    &._push-s11 {
      left: 91.6666666667%;
    }

    &._offset-s12 {
      margin-left: 100%;
    }

    &._pull-s12 {
      right: 100%;
    }

    &._push-s12 {
      left: 100%;
    }
  }
}

@media (--tbpc) {
  .l-row > .l-col._m-auto {
    width: auto;
  }

  .l-row > .l-col._m1 {
    width: 8.3333333333%;
  }

  .l-row > .l-col._m2 {
    width: 16.6666666667%;
  }

  .l-row > .l-col._m3 {
    width: 25%;
  }

  .l-row > .l-col._m4 {
    width: 33.3333333333%;
  }

  .l-row > .l-col._m5 {
    width: 41.6666666667%;
  }

  .l-row > .l-col._m6 {
    width: 50%;
  }

  .l-row > .l-col._m7 {
    width: 58.3333333333%;
  }

  .l-row > .l-col._m8 {
    width: 66.6666666667%;
  }

  .l-row > .l-col._m9 {
    width: 75%;
  }

  .l-row > .l-col._m10 {
    width: 83.3333333333%;
  }

  .l-row > .l-col._m11 {
    width: 91.6666666667%;
  }

  .l-row > .l-col._m12 {
    width: 100%;
  }

  .l-row > .l-col._offset-m1 {
    margin-left: 8.3333333333%;
  }

  .l-row > .l-col._pull-m1 {
    right: 8.3333333333%;
  }

  .l-row > .l-col._push-m1 {
    left: 8.3333333333%;
  }

  .l-row > .l-col._offset-m2 {
    margin-left: 16.6666666667%;
  }

  .l-row > .l-col._pull-m2 {
    right: 16.6666666667%;
  }

  .l-row > .l-col._push-m2 {
    left: 16.6666666667%;
  }

  .l-row > .l-col._offset-m3 {
    margin-left: 25%;
  }

  .l-row > .l-col._pull-m3 {
    right: 25%;
  }

  .l-row > .l-col._push-m3 {
    left: 25%;
  }

  .l-row > .l-col._offset-m4 {
    margin-left: 33.3333333333%;
  }

  .l-row > .l-col._pull-m4 {
    right: 33.3333333333%;
  }

  .l-row > .l-col._push-m4 {
    left: 33.3333333333%;
  }

  .l-row > .l-col._offset-m5 {
    margin-left: 41.6666666667%;
  }

  .l-row > .l-col._pull-m5 {
    right: 41.6666666667%;
  }

  .l-row > .l-col._push-m5 {
    left: 41.6666666667%;
  }

  .l-row > .l-col._offset-m6 {
    margin-left: 50%;
  }

  .l-row > .l-col._pull-m6 {
    right: 50%;
  }

  .l-row > .l-col._push-m6 {
    left: 50%;
  }

  .l-row > .l-col._offset-m7 {
    margin-left: 58.3333333333%;
  }

  .l-row > .l-col._pull-m7 {
    right: 58.3333333333%;
  }

  .l-row > .l-col._push-m7 {
    left: 58.3333333333%;
  }

  .l-row > .l-col._offset-m8 {
    margin-left: 66.6666666667%;
  }

  .l-row > .l-col._pull-m8 {
    right: 66.6666666667%;
  }

  .l-row > .l-col._push-m8 {
    left: 66.6666666667%;
  }

  .l-row > .l-col._offset-m9 {
    margin-left: 75%;
  }

  .l-row > .l-col._pull-m9 {
    right: 75%;
  }

  .l-row > .l-col._push-m9 {
    left: 75%;
  }

  .l-row > .l-col._offset-m10 {
    margin-left: 83.3333333333%;
  }

  .l-row > .l-col._pull-m10 {
    right: 83.3333333333%;
  }

  .l-row > .l-col._push-m10 {
    left: 83.3333333333%;
  }

  .l-row > .l-col._offset-m11 {
    margin-left: 91.6666666667%;
  }

  .l-row > .l-col._pull-m11 {
    right: 91.6666666667%;
  }

  .l-row > .l-col._push-m11 {
    left: 91.6666666667%;
  }

  .l-row > .l-col._offset-m12 {
    margin-left: 100%;
  }

  .l-row > .l-col._pull-m12 {
    right: 100%;
  }

  .l-row > .l-col._push-m12 {
    left: 100%;
  }
}

@media (--pc) {
  .l-row > .l-col._l-auto {
    width: auto;
  }

  .l-row > .l-col._l1 {
    width: 8.3333333333%;
  }

  .l-row > .l-col._l2 {
    width: 16.6666666667%;
  }

  .l-row > .l-col._l3 {
    width: 25%;
  }

  .l-row > .l-col._l4 {
    width: 33.3333333333%;
  }

  .l-row > .l-col._l5 {
    width: 41.6666666667%;
  }

  .l-row > .l-col._l6 {
    width: 50%;
  }

  .l-row > .l-col._l7 {
    width: 58.3333333333%;
  }

  .l-row > .l-col._l8 {
    width: 66.6666666667%;
  }

  .l-row > .l-col._l9 {
    width: 75%;
  }

  .l-row > .l-col._l10 {
    width: 83.3333333333%;
  }

  .l-row > .l-col._l11 {
    width: 91.6666666667%;
  }

  .l-row > .l-col._l12 {
    width: 100%;
  }

  .l-row > .l-col._offset-l1 {
    margin-left: 8.3333333333%;
  }

  .l-row > .l-col._pull-l1 {
    right: 8.3333333333%;
  }

  .l-row > .l-col._push-l1 {
    left: 8.3333333333%;
  }

  .l-row > .l-col._offset-l2 {
    margin-left: 16.6666666667%;
  }

  .l-row > .l-col._pull-l2 {
    right: 16.6666666667%;
  }

  .l-row > .l-col._push-l2 {
    left: 16.6666666667%;
  }

  .l-row > .l-col._offset-l3 {
    margin-left: 25%;
  }

  .l-row > .l-col._pull-l3 {
    right: 25%;
  }

  .l-row > .l-col._push-l3 {
    left: 25%;
  }

  .l-row > .l-col._offset-l4 {
    margin-left: 33.3333333333%;
  }

  .l-row > .l-col._pull-l4 {
    right: 33.3333333333%;
  }

  .l-row > .l-col._push-l4 {
    left: 33.3333333333%;
  }

  .l-row > .l-col._offset-l5 {
    margin-left: 41.6666666667%;
  }

  .l-row > .l-col._pull-l5 {
    right: 41.6666666667%;
  }

  .l-row > .l-col._push-l5 {
    left: 41.6666666667%;
  }

  .l-row > .l-col._offset-l6 {
    margin-left: 50%;
  }

  .l-row > .l-col._pull-l6 {
    right: 50%;
  }

  .l-row > .l-col._push-l6 {
    left: 50%;
  }

  .l-row > .l-col._offset-l7 {
    margin-left: 58.3333333333%;
  }

  .l-row > .l-col._pull-l7 {
    right: 58.3333333333%;
  }

  .l-row > .l-col._push-l7 {
    left: 58.3333333333%;
  }

  .l-row > .l-col._offset-l8 {
    margin-left: 66.6666666667%;
  }

  .l-row > .l-col._pull-l8 {
    right: 66.6666666667%;
  }

  .l-row > .l-col._push-l8 {
    left: 66.6666666667%;
  }

  .l-row > .l-col._offset-l9 {
    margin-left: 75%;
  }

  .l-row > .l-col._pull-l9 {
    right: 75%;
  }

  .l-row > .l-col._push-l9 {
    left: 75%;
  }

  .l-row > .l-col._offset-l10 {
    margin-left: 83.3333333333%;
  }

  .l-row > .l-col._pull-l10 {
    right: 83.3333333333%;
  }

  .l-row > .l-col._push-l10 {
    left: 83.3333333333%;
  }

  .l-row > .l-col._offset-l11 {
    margin-left: 91.6666666667%;
  }

  .l-row > .l-col._pull-l11 {
    right: 91.6666666667%;
  }

  .l-row > .l-col._push-l11 {
    left: 91.6666666667%;
  }

  .l-row > .l-col._offset-l12 {
    margin-left: 100%;
  }

  .l-row > .l-col._pull-l12 {
    right: 100%;
  }

  .l-row > .l-col._push-l12 {
    left: 100%;
  }
}

/*@media (--large) {
  .l-row > .l-col._xl-auto {
    width: auto;
  }

  .l-row > .l-col._xl1 {
    width: 8.3333333333%;
  }

  .l-row > .l-col._xl2 {
    width: 16.6666666667%;
  }

  .l-row > .l-col._xl3 {
    width: 25%;
  }

  .l-row > .l-col._xl4 {
    width: 33.3333333333%;
  }

  .l-row > .l-col._xl5 {
    width: 41.6666666667%;
  }

  .l-row > .l-col._xl6 {
    width: 50%;
  }

  .l-row > .l-col._xl7 {
    width: 58.3333333333%;
  }

  .l-row > .l-col._xl8 {
    width: 66.6666666667%;
  }

  .l-row > .l-col._xl9 {
    width: 75%;
  }

  .l-row > .l-col._xl10 {
    width: 83.3333333333%;
  }

  .l-row > .l-col._xl11 {
    width: 91.6666666667%;
  }

  .l-row > .l-col._xl12 {
    width: 100%;
  }

  .l-row > .l-col._offset-xl1 {
    margin-left: 8.3333333333%;
  }

  .l-row > .l-col._pull-xl1 {
    right: 8.3333333333%;
  }

  .l-row > .l-col._push-xl1 {
    left: 8.3333333333%;
  }

  .l-row > .l-col._offset-xl2 {
    margin-left: 16.6666666667%;
  }

  .l-row > .l-col._pull-xl2 {
    right: 16.6666666667%;
  }

  .l-row > .l-col._push-xl2 {
    left: 16.6666666667%;
  }

  .l-row > .l-col._offset-xl3 {
    margin-left: 25%;
  }

  .l-row > .l-col._pull-xl3 {
    right: 25%;
  }

  .l-row > .l-col._push-xl3 {
    left: 25%;
  }

  .l-row > .l-col._offset-xl4 {
    margin-left: 33.3333333333%;
  }

  .l-row > .l-col._pull-xl4 {
    right: 33.3333333333%;
  }

  .l-row > .l-col._push-xl4 {
    left: 33.3333333333%;
  }

  .l-row > .l-col._offset-xl5 {
    margin-left: 41.6666666667%;
  }

  .l-row > .l-col._pull-xl5 {
    right: 41.6666666667%;
  }

  .l-row > .l-col._push-xl5 {
    left: 41.6666666667%;
  }

  .l-row > .l-col._offset-xl6 {
    margin-left: 50%;
  }

  .l-row > .l-col._pull-xl6 {
    right: 50%;
  }

  .l-row > .l-col._push-xl6 {
    left: 50%;
  }

  .l-row > .l-col._offset-xl7 {
    margin-left: 58.3333333333%;
  }

  .l-row > .l-col._pull-xl7 {
    right: 58.3333333333%;
  }

  .l-row > .l-col._push-xl7 {
    left: 58.3333333333%;
  }

  .l-row > .l-col._offset-xl8 {
    margin-left: 66.6666666667%;
  }

  .l-row > .l-col._pull-xl8 {
    right: 66.6666666667%;
  }

  .l-row > .l-col._push-xl8 {
    left: 66.6666666667%;
  }

  .l-row > .l-col._offset-xl9 {
    margin-left: 75%;
  }

  .l-row > .l-col._pull-xl9 {
    right: 75%;
  }

  .l-row > .l-col._push-xl9 {
    left: 75%;
  }

  .l-row > .l-col._offset-xl10 {
    margin-left: 83.3333333333%;
  }

  .l-row > .l-col._pull-xl10 {
    right: 83.3333333333%;
  }

  .l-row > .l-col._push-xl10 {
    left: 83.3333333333%;
  }

  .l-row > .l-col._offset-xl11 {
    margin-left: 91.6666666667%;
  }

  .l-row > .l-col._pull-xl11 {
    right: 91.6666666667%;
  }

  .l-row > .l-col._push-xl11 {
    left: 91.6666666667%;
  }

  .l-row > .l-col._offset-xl12 {
    margin-left: 100%;
  }

  .l-row > .l-col._pull-xl12 {
    right: 100%;
  }

  .l-row > .l-col._push-xl12 {
    left: 100%;
  }
}*/
