button.c-button {
  color: #fff;
  text-decoration: none;
  @mixin onHoverFocus {
  }
}

a.c-button {
  color: #fff;
  text-decoration: none;
  @media (--pc) {
    transition: background 0.3s, border 0.3s, opacity 0.3s;
  }
}

.c-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  overflow: visible;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: transparent;
  background: var(--color-base-main);
  border: 1px solid var(--color-base-main);
  cursor: pointer;
  transition: 0.3s;
  appearance: none;

  & .c-svg-icon {
    fill: #fff;
  }

  @mixin onHoverFocus {
    color: var(--color-base-main);
    text-decoration: none;
    background: var(--color-bg-04);

    & .c-svg-icon {
      fill: var(--color-base-main);
    }

    &._arr-r,
    &._arr {
      &::after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209.192%2014.142%22%3E%20%3Cg%20data-name%3D%22%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%20117%22%20fill%3D%22%23de0202%22%3E%20%3Cpath%20data-name%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2%2048%22%20d%3D%22M0%2012.02l7.07-7.07L9.193%207.07l-7.07%207.071z%22%2F%3E%20%3Cpath%20data-name%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2%2081%22%20d%3D%22M2.121%200L9.192%207.07%207.071%209.192%200%202.122z%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
      }
    }
  }

  &._full {
    display: block;
    width: 100%;
  }

  &._s-full {
    @media (--sp) {
      display: block;
      width: 100%;
    }
  }

  &._xlarge {
    padding: 13px 15px;
    font-size: 20px;

    @media (--tb) {
      padding: 18px 20px;
      font-size: 22px;
    }
    @media (--pc) {
      padding: 25px 25px;
      font-size: 24px;
    }
  }

  &._large {
    @media (--sp) {
      padding: 10px;
      font-size: 18px;
    }
    @media (--tb) {
      padding: 12px;
      font-size: 20px;
    }
    @media (--pc) {
      padding: 15px;
      font-size: 22px;
    }
  }

  &._pd-large {
    @media (--sp) {
      padding: 15px;
    }
    @media (--tb) {
      padding: 18px;
    }
    @media (--pc) {
      padding: 20px;
    }
  }

  &._small {
    padding: 8px 20px;
  }

  &._no-border {
    border: 1px solid transparent;
  }

  &._white {
    background: #fff;
  }

  &._bg-white {
    background: #fff;

    @mixin onHoverFocus {
      color: #fff;
      background-color: var(--color-base-main-dark);
      border: 1px solid var(--color-base-main-dark);

      & svg path {
        fill: #fff;
      }

      &._arr,
      &._arr-r,
      &._arr-l {
        &::after {
          color: #fff;
        }
      }
    }
  }

  &._outline {
    background: transparent;

    &._white {
      color: #fff;
      border: 1px solid #fff;
      @mixin onHoverFocus {
        opacity: 0.8;
      }
    }
  }

  &._arr-r,
  &._arr {
    padding-right: 30px !important;

    &::after {
      position: absolute;
      top: 50%;
      right: 15px;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209.192%2014.142%22%3E%20%3Cg%20data-name%3D%22%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%20117%22%20fill%3D%22%23fff%22%3E%20%3Cpath%20data-name%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2%2048%22%20d%3D%22M0%2012.02l7.07-7.07L9.193%207.07l-7.07%207.071z%22%2F%3E%20%3Cpath%20data-name%3D%22%E9%95%B7%E6%96%B9%E5%BD%A2%2081%22%20d%3D%22M2.121%200L9.192%207.07%207.071%209.192%200%202.122z%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: "";

      /*      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011.314%207.071%22%3E%3Cg%20transform%3D%22translate(729.734%20-813.173)%20rotate(45)%22%3E%3Crect%20width%3D%228%22%20height%3D%222%22%20transform%3D%22translate(60%201090)%22%20fill%3D%22%23de0202%22%2F%3E%3Crect%20width%3D%228%22%20height%3D%222%22%20transform%3D%22translate(68%201084)%20rotate(90)%22%20fill%3D%22%23de0202%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");*/
    }
  }

  &._arr-l {
    padding-left: 50px !important;

    &::after {
      position: absolute;
      top: 50%;
      left: 15px;
      display: block;
      margin-top: -0.5em;
      color: var(--color-base-main);
      font-weight: normal;
      font-size: 22px;
      font-family: "icons";
      font-style: normal;
      font-variant: normal;
      line-height: 1;
      text-transform: none;
      vertical-align: middle;
      content: "";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &._icon {
    padding-right: 50px;
    & .c-button__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      display: block;
      margin-top: -0.5em;

      & svg,
      & img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &:disabled,
  &._disabled,
  &.is-disabled {
    color: #9e9e9e !important;
    background: #f3f3f3 !important;
    & .c-icon {
      opacity: 0.5 !important;
    }
  }
  &:disabled {
    pointer-events: none;
  }

  &._round {
    border-radius: 9999px;
  }
}

.c-button {
  &._toggle {
    background: #fff;
    border-radius: 5px;

    &[aria-pressed="true"] {
      color: #fff;
      background: var(--color-base-main);
      border-color: var(--color-base-main);

      @mixin onHoverFocus {
        background: var(--color-base-main);
      }
    }
  }
}
